.navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 0;
    background-color: rgb(6, 6, 6);
}

.navbar__logo {
    img {
        width: 5rem!important;
        height: 5rem!important;
    }
}

.navbar__right {
    display: flex;
    flex-direction: row;

    .navbar__item {
        padding: 2rem;

        &.active {
            a {
                color: #2d384b;
                background-color:#ead2e8;
                padding: 1rem 2rem;
            }
        }
        a {
            font-size: 1.4rem;
            color: $white;
        }

        &:hover {
            font-weight: $fw-bold;
        }
    }
}
